@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,800;1,800&family=Rubik:wght@300;400;500&display=swap");
* {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

@media (max-width: 840px) {
  .body {
    background-color: #f7ede2;
  }
  .header {
    margin: 0;
    background-color: #598278;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 83%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 83%, 0% 100%);
    padding: 0.5em 0 5em 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    height: 600px;
    text-decoration: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-logo__logo {
    font-weight: 600;
    font-size: 35px;
    color: #e0a340;
    line-height: 28px;
    margin-top: 30px;
    letter-spacing: 0.05em;
  }
  .header-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 0;
    -ms-flex-item-align: center;
        align-self: center;
    justify-items: center;
    text-decoration: none;
  }
  .header-list__item {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    list-style-type: none;
    padding-top: 30px;
  }
  .header-list__link {
    text-decoration: none;
    color: #f7ede2;
    font-size: 18px;
  }
  .header-list__login {
    width: 60%;
    padding: 4em 0;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .header-list__login::before {
    position: absolute;
    top: 20%;
    content: "";
    border-bottom: 1.5px solid #e0a340;
    width: 100%;
  }
  .header-list__login::after {
    position: absolute;
    top: 80%;
    content: "";
    border-bottom: 1.5px solid #e0a340;
    width: 100%;
  }
  .header__login__btn--normal {
    color: #e0a340;
    font-size: 22px;
    text-decoration: none;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .header__login__btn--build {
    padding: 25px;
    background: #e0a340;
    font-size: 22px;
    border-radius: 19px;
    color: #598278;
    text-decoration: none;
  }
  .great {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    -webkit-transition: opacity 3s, -webkit-transform 5s;
    transition: opacity 3s, -webkit-transform 5s;
    transition: transform 5s, opacity 3s;
    transition: transform 5s, opacity 3s, -webkit-transform 5s;
  }
  .great__headline {
    padding: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    color: #e0a340;
    letter-spacing: 0.13em;
  }
  .great__underline {
    display: none;
  }
  .great__check {
    display: none;
  }
  .great.show {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-image: url(../imgsSmall/golddiamond.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 45%;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .text__article {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 85%;
    font-weight: 600;
    color: #598278;
    text-indent: 15px;
    text-align: center;
    line-height: 1.5em;
    letter-spacing: 0.09em;
    padding-bottom: 50px;
    opacity: 0;
    -webkit-transform: translate(-100px);
            transform: translate(-100px);
    -webkit-transition: opacity 3s, -webkit-transform 5s;
    transition: opacity 3s, -webkit-transform 5s;
    transition: transform 5s, opacity 3s;
    transition: transform 5s, opacity 3s, -webkit-transform 5s;
  }
  .show {
    opacity: 1;
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
  .offers {
    margin: 0;
    padding: 13em 0 13em 0;
    -webkit-clip-path: polygon(0 0, 100% 26%, 100% 100%, 0 81%);
            clip-path: polygon(0 0, 100% 26%, 100% 100%, 0 81%);
    background-color: #f6bd60;
  }
  .offers__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .offers__container--heading {
    color: #598278;
    padding-top: 35px;
    opacity: 0;
    -webkit-transition: opacity 3s, -webkit-transform 5s;
    transition: opacity 3s, -webkit-transform 5s;
    transition: transform 5s, opacity 3s;
    transition: transform 5s, opacity 3s, -webkit-transform 5s;
    -webkit-transform: translate(-100px);
            transform: translate(-100px);
  }
  .offers__container--headingFirst {
    color: #598278;
    padding-top: 35px;
    opacity: 0;
    -webkit-transition: opacity 3s, -webkit-transform 5s;
    transition: opacity 3s, -webkit-transform 5s;
    transition: transform 5s, opacity 3s;
    transition: transform 5s, opacity 3s, -webkit-transform 5s;
    -webkit-transform: translate(-100px);
            transform: translate(-100px);
  }
  .offers__container--paragraph {
    color: #598278;
    font-weight: 600;
    text-align: center;
    width: 35%;
    padding-bottom: 20px;
    font-size: 20px;
    opacity: 0;
    -webkit-transition: opacity 3s, -webkit-transform 5s;
    transition: opacity 3s, -webkit-transform 5s;
    transition: transform 5s, opacity 3s;
    transition: transform 5s, opacity 3s, -webkit-transform 5s;
    -webkit-transform: translate(-100px);
            transform: translate(-100px);
  }
  .offers__container--paragraph--first {
    color: #598278;
    font-weight: 600;
    text-align: center;
    width: 35%;
    opacity: 0;
    -webkit-transition: opacity 3s, -webkit-transform 5s;
    transition: opacity 3s, -webkit-transform 5s;
    transition: transform 5s, opacity 3s;
    transition: transform 5s, opacity 3s, -webkit-transform 5s;
    -webkit-transform: translate(-100px);
            transform: translate(-100px);
  }
  .offers__container--price {
    background: #598278;
    padding: 20px;
    width: 50%;
    border-radius: 22px;
    border: none;
    color: #f7ede2;
    font-weight: 700;
    opacity: 0;
    -webkit-transition: opacity 3s, -webkit-transform 5s;
    transition: opacity 3s, -webkit-transform 5s;
    transition: transform 5s, opacity 3s;
    transition: transform 5s, opacity 3s, -webkit-transform 5s;
    -webkit-transform: translate(-100px);
            transform: translate(-100px);
  }
  .offers__container--heading.show {
    opacity: 1;
    -webkit-transform: translate(0px);
            transform: translate(0px);
    -webkit-transition: opacity 3s, -webkit-transform 2s;
    transition: opacity 3s, -webkit-transform 2s;
    transition: transform 2s, opacity 3s;
    transition: transform 2s, opacity 3s, -webkit-transform 2s;
  }
  .offers__container--headingFirst.show {
    opacity: 1;
    -webkit-transform: translate(0px);
            transform: translate(0px);
    -webkit-transition: opacity 3s, -webkit-transform 2s;
    transition: opacity 3s, -webkit-transform 2s;
    transition: transform 2s, opacity 3s;
    transition: transform 2s, opacity 3s, -webkit-transform 2s;
  }
  .offers__container--paragraph--first.show {
    opacity: 1;
    -webkit-transform: translate(0px);
            transform: translate(0px);
    -webkit-transition: opacity 3s, -webkit-transform 2s;
    transition: opacity 3s, -webkit-transform 2s;
    transition: transform 2s, opacity 3s;
    transition: transform 2s, opacity 3s, -webkit-transform 2s;
  }
  .offers__container--paragraph.show {
    opacity: 1;
    -webkit-transform: translate(0px);
            transform: translate(0px);
    -webkit-transition: opacity 3s, -webkit-transform 2s;
    transition: opacity 3s, -webkit-transform 2s;
    transition: transform 2s, opacity 3s;
    transition: transform 2s, opacity 3s, -webkit-transform 2s;
  }
  .offers__container--price.show {
    opacity: 1;
    -webkit-transform: translate(0px);
            transform: translate(0px);
    -webkit-transition: opacity 3s, -webkit-transform 2s;
    transition: opacity 3s, -webkit-transform 2s;
    transition: transform 2s, opacity 3s;
    transition: transform 2s, opacity 3s, -webkit-transform 2s;
  }
  .media {
    padding: 25px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .media__semi {
    padding-bottom: 35px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .media__socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 20px 0;
  }
  .media__big {
    display: none;
  }
}

@media (min-width: 841px) and (max-width: 1445px) {
  body {
    background-color: #f7ede2;
  }
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    color: #598278;
    text-decoration: none;
    margin-top: 12px;
    padding-top: 5px;
  }
  .header-logo {
    width: 55%;
  }
  .header-list {
    position: absolute;
    padding-top: 10px;
    left: 20%;
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style: none;
    color: #598278;
  }
  .header-list__link {
    text-decoration: none;
    color: #598278;
    font-weight: 500;
  }
  .header-list__login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 25%;
    text-decoration: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__login__btn--normal {
    text-decoration: none;
    color: #e0a340;
    font-weight: 500;
    padding: 20px;
  }
  .header__login__btn--build {
    text-decoration: none;
    color: #f7ede2;
    background-color: #598278;
    padding: 20px;
    width: 30%;
    font-weight: 500;
    text-align: center;
    border: 2px solid #f6bd60;
    border-radius: 18px;
  }
  .header::after {
    position: absolute;
    border-bottom: 1.5px solid #e0a340;
    content: "";
    -ms-flex-item-align: end;
        align-self: flex-end;
    width: 93%;
    top: 14%;
  }
  .great {
    padding-top: 12%;
    margin: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-column-gap: 0, 5px;
            column-gap: 0, 5px;
    background-image: url("imgs/diamond 1.svg");
    background-repeat: no-repeat;
    background-position-x: 85%;
    background-position-y: 62%;
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    -webkit-transition: opacity 5s, -webkit-transform 5s;
    transition: opacity 5s, -webkit-transform 5s;
    transition: transform 5s, opacity 5s;
    transition: transform 5s, opacity 5s, -webkit-transform 5s;
  }
  .great__headline {
    width: 20%;
    letter-spacing: 0.13em;
    padding-left: 18%;
    line-height: 125%;
    color: #e0a340;
    font-size: 45px;
  }
  .great__underline {
    padding-left: 17%;
    font-weight: 300;
    font-size: 24px;
    color: #598278;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    letter-spacing: 0.035em;
  }
  .great__check {
    width: 20%;
    padding: 14px;
    position: relative;
    left: 16%;
    background-color: #f6bd60;
    color: #598278;
    font-weight: 600;
    border-radius: 20px;
    border: none;
    cursor: pointer;
  }
  .great.show {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin-top: 15%;
    -ms-flex-line-pack: center;
        align-content: center;
    background-size: 50%;
    background-color: #84a59d;
    -webkit-clip-path: polygon(0 0, 100% 29%, 100% 100%, 0 75%);
            clip-path: polygon(0 0, 100% 29%, 100% 100%, 0 75%);
    padding: 15em 0 15em 0;
  }
  .text__article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    -ms-flex-line-pack: center;
        align-content: center;
    text-align: center;
    padding: 0 12em 0 12em;
    line-height: 1.8em;
    font-weight: 500;
    margin: 12px;
    opacity: 0;
    -webkit-transform: translate(-100px);
            transform: translate(-100px);
    -webkit-transition: opacity 3s, -webkit-transform 5s;
    transition: opacity 3s, -webkit-transform 5s;
    transition: transform 5s, opacity 3s;
    transition: transform 5s, opacity 3s, -webkit-transform 5s;
  }
  .text__article.show {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  .offers {
    padding-top: 120px;
    margin-top: 50px;
    padding-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .offers__container {
    text-align: center;
    padding: 25px;
    line-height: 30px;
    letter-spacing: 0.165em;
    color: #302e2e;
  }
  .offers__container--paragraph {
    border: 1.5px solid #84a59d;
    padding: 40px;
  }
  .offers__container--paragraph--first {
    color: #598278;
    font-weight: 600;
    padding: 40px;
    border: 1.5px solid #84a59d;
  }
  .offers__container--heading {
    color: #598278;
  }
  .offers__container--headingFirst {
    color: #598278;
  }
  .offers__container--price {
    color: #fff;
    background: #598278;
    border-radius: 20px;
    padding: 20px;
    width: 40%;
    outline: none;
    border: none;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: opacity 3s, -webkit-transform 5s;
    transition: opacity 3s, -webkit-transform 5s;
    transition: transform 5s, opacity 3s;
    transition: transform 5s, opacity 3s, -webkit-transform 5s;
    -webkit-transform: translate(-100px);
            transform: translate(-100px);
  }
  .media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100vh;
    background: #f6bd60;
    -webkit-clip-path: polygon(0 57%, 100% 34%, 100% 100%, 0% 100%);
            clip-path: polygon(0 57%, 100% 34%, 100% 100%, 0% 100%);
  }
  .media__socials {
    display: none;
  }
  .media__big {
    position: relative;
    top: 24%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 67%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    cursor: pointer;
  }
  .media__semi {
    position: relative;
    top: 89px;
    font-size: 25px;
  }
}

@media (min-width: 1446px) and (max-width: 1900px) {
  body {
    background-color: #f7ede2;
  }
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    color: #598278;
    text-decoration: none;
    margin-top: 12px;
    padding-top: 5px;
  }
  .header-logo {
    width: 55%;
  }
  .header-list {
    position: absolute;
    padding-top: 10px;
    left: 20%;
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style: none;
    color: #598278;
  }
  .header-list__link {
    text-decoration: none;
    color: #598278;
    font-weight: 500;
  }
  .header-list__login {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 15%;
    text-decoration: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__login__btn--normal {
    text-decoration: none;
    color: #e0a340;
    font-weight: 500;
    padding: 20px;
  }
  .header__login__btn--build {
    text-decoration: none;
    color: #f7ede2;
    background-color: #598278;
    padding: 20px;
    width: 30%;
    font-weight: 500;
    text-align: center;
    border: 2px solid #f6bd60;
    border-radius: 18px;
  }
  .header::after {
    position: absolute;
    border-bottom: 1.5px solid #e0a340;
    content: "";
    -ms-flex-item-align: end;
        align-self: flex-end;
    width: 93%;
    top: 14%;
  }
  .great {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    -webkit-transition: opacity 5s, -webkit-transform 3s;
    transition: opacity 5s, -webkit-transform 3s;
    transition: transform 3s, opacity 5s;
    transition: transform 3s, opacity 5s, -webkit-transform 3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 50vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 76px;
    margin-top: 10%;
    background-image: url("imgs/diamond 2.svg");
    background-repeat: no-repeat;
    text-align: center;
    background-position-x: 50%;
  }
  .great__headline {
    color: #e0a340;
    font-size: 55px;
    margin-bottom: 16px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .great__underline {
    font-weight: 400;
    font-size: 24px;
    color: #598278;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    letter-spacing: 0.035em;
    margin-top: 5%;
  }
  .great__check {
    width: 30%;
    padding: 14px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 2%;
    background-color: #f6bd60;
    color: #598278;
    font-weight: 600;
    border-radius: 20px;
    border: none;
    cursor: pointer;
  }
  .great.show {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -ms-flex-line-pack: center;
        align-content: center;
    background-size: 50%;
    background-color: #84a59d;
    -webkit-clip-path: polygon(0 0, 100% 29%, 100% 100%, 0 75%);
            clip-path: polygon(0 0, 100% 29%, 100% 100%, 0 75%);
    padding: 25em 0 25em 0;
  }
  .text__article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 25px;
    color: #fff;
    -ms-flex-line-pack: center;
        align-content: center;
    text-align: center;
    padding: 0 12em 0 12em;
    line-height: 2em;
    font-weight: 500;
    margin: 12px;
    opacity: 0;
    -webkit-transform: translate(-100px);
            transform: translate(-100px);
    -webkit-transition: opacity 3s, -webkit-transform 5s;
    transition: opacity 3s, -webkit-transform 5s;
    transition: transform 5s, opacity 3s;
    transition: transform 5s, opacity 3s, -webkit-transform 5s;
  }
  .show.text__article {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  .offers {
    margin-top: 40px;
    padding-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .offers__container {
    text-align: center;
    padding: 90px 90px;
    line-height: 50px;
    letter-spacing: 0.2em;
    color: #302e2e;
  }
  .offers__container--paragraph {
    border: 1.5px solid #84a59d;
    padding: 90px;
  }
  .offers__container--paragraph--first {
    color: #598278;
    padding: 90px;
    border: 1.5px solid #84a59d;
  }
  .offers__container--heading {
    color: #598278;
  }
  .offers__container--headingFirst {
    color: #598278;
  }
  .offers__container--price {
    color: #fff;
    background: #598278;
    border-radius: 20px;
    padding: 20px;
    width: 40%;
    outline: none;
    border: none;
    cursor: pointer;
    -webkit-transition: opacity 3s, -webkit-transform 5s;
    transition: opacity 3s, -webkit-transform 5s;
    transition: transform 5s, opacity 3s;
    transition: transform 5s, opacity 3s, -webkit-transform 5s;
  }
  .media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 80vh;
    background: #f6bd60;
    -webkit-clip-path: polygon(0 57%, 100% 34%, 100% 100%, 0% 100%);
            clip-path: polygon(0 57%, 100% 34%, 100% 100%, 0% 100%);
  }
  .media__socials {
    display: none;
  }
  .media__big {
    position: relative;
    top: 24%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 67%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    cursor: pointer;
  }
  .media__semi {
    position: relative;
    top: 89px;
    font-size: 25px;
  }
}
/*# sourceMappingURL=acess.css.map */